@model QLSTK.Models.PhieuRutTien

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
    
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PhieuRutTien</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        

        <div class="form-group">
            @Html.LabelFor(model => model.MaSTK, "MaSTK", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaSTK", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaSTK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoTienRut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoTienRut, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoTienRut, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayRut, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input value="@DateTime.Now"  class="form-control" disabled/>
                <input value="@DateTime.Now" class="w3-hide" name="NgayRut" />
                @Html.ValidationMessageFor(model => model.NgayRut, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group w3-hide">
            @Html.LabelFor(model => model.TienLai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input value=0 class="w3-hide" name="NgayRut" />
                @Html.ValidationMessageFor(model => model.TienLai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
