@using Microsoft.AspNet.Identity
@using QLSTK.Models
@{
    List<string> danhsachrole = new List<String>();
    if (Request.IsAuthenticated)
    {
        Entities db = new Entities();
        var username = User.Identity.GetUserName();
        ApplicationDbContext context = new ApplicationDbContext();
        ApplicationUser model = context.Users.Find(db.AspNetUsers.Single(s => s.Email.Equals(username)).Id);
        if (model.Roles.Count != 0)
        {
            foreach (var aaa in model.Roles)
            {
                danhsachrole.Add(aaa.RoleId);
            }
        }
    }
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
       
        if (danhsachrole.Count() != 0)
        {
            for (int i=0; i < danhsachrole.Count; i++)
            {
                if (danhsachrole[i] == "ad")
                {
                    <a href="@Url.Action("Index", "Admin")" class="w3-bar-item w3-button w3-mobile w3-left">Admin</a>
                }
                else if (danhsachrole[i] == "emp")
                {
                    <a href="@Url.Action("Index","Employee")" class="w3-bar-item w3-button w3-mobile w3-left">Nhân viên</a>
                }
            }
        }


        @*if (@User.Identity.GetUserName() == "admin@gmail.com")
        {
            <a href="@Url.Action("Chat", "ChatBoxes")" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-comment-o"></i></a>
        }*@
        <a href="@Url.Action("Index", "Manage")" class="w3-bar-item w3-button w3-mobile">Hello @User.Identity.GetUserName() !</a>
        <a href="javascript:document.getElementById('logoutForm').submit()" class="w3-bar-item w3-button w3-mobile">Log off</a>
        @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@

    }
}
else
{
    <a id="registerLink" href="@Url.Action( "Register", "Account")" class="w3-bar-item w3-button w3-mobile w3-right">Register</a>
    <a id="loginLink" href="@Url.Action( "Login", "Account")" class="w3-bar-item w3-button w3-mobile w3-right">Log in</a>
    @*@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
}
